# <font face="times"><font size="6pt"><p style = 'text-align: center;'> The City University of New York, Queens College

<font face="times"><font size="6pt"><p style = 'text-align: center;'><b>Introduction to Computational Social Science</b><br/><br/>

<p style = 'text-align: center;'><font face="times"><b>Lesson 05 | SQL Databases and Multiprocessing </b><br/><br/>


<p style = 'text-align: center;'><font face="times"><b>9 Checkpoints</b><br/><br/>

***
# Begin Lesson 05
(Source: https://medium.com/analytics-vidhya/programming-with-databases-in-python-using-sqlite-4cecbef51ab9) 
(Source: https://medium.com/@urban_institute/using-multiprocessing-to-make-python-code-faster-23ea5ef996ba)

If you are aspiring to be a data/computational social scientist, you are going to be working with a lot of data! 

Much of the data reside in databases. Thus, you should be comfortable accessing data from databases through queries and then working on them to find key insights.

***
***

Many forms of data exist in databases. From the number of passengers in an airport to the count of stationary in a bookshop, everything is recorded today in form of digital files called **databases**. 

However, databases are nothing more than electronic lists of information. 

Some databases are simple, and designed for smaller tasks while others are powerful, and designed for big data. 

All of them, however, have the same commonalities and perform a similar function. 

Different database tools store that information in unique ways. 
    - Flat files use a table.
    - SQL databases use a relational model
    - NoSQL databases use a key-value model.

Here, we focus only on the **Relational Databases** and accessing them in Python. 

We will begin by having a quick overview of the Relational databases and their important constituents.

***
***

# Relational Databases

A Relational database consists of one or more tables of information. The rows in the table are called **records** and the columns in the table are called **fields** or **attributes**. 

A database that contains **TWO or more related tables** is called a **relational database** 

The main idea behind a relational database is that your data gets broken down into common themes, with one table dedicated to describing the records of each theme.

***

## Database tables
Each table in a relational database has one or more columns, and each column is assigned a specific data type, such as an integer number, a sequence of characters (for text), or a date. Each row in the table has a value for each column.
A typical fragment of a table containing employee information may look as follows:

![Database](Images/05_relationaldbexample.png)

The tables of a relational database have some important characteristics:
    - There is no significance to the order of the columns or rows.
    - Each row contains one and only one value for each column.
    - Each value for a given column has the same type.

Each table in the database should hold information about **ONE SPECIFIC** thing only, such as employees, products, or customers.

By designing a database this way, it helps to eliminate redundancy and inconsistencies. 

For example, both the sales and accounts payable departments may look up information about customers. In a relational database, the information about customers is entered **only once** in a table that both departments can access.

***
***

## Primary and Foreign Keys

We know that a relational database is a set of related tables. We use **primary and foreign keys** to describe relationships between the information in different tables. In other words, primary and foreign keys define the relational structure of a database. 

These keys enable each row in the database tables to be identified and define the relationships between the tables.

![Database](Images/05_relationaldbexample2.png)

#### Primary Key
The primary key of a relational table uniquely identifies each record in the table. It is a **column**, or set of columns, that allows **each row in the table to be uniquely identified**. No two rows in a table with a primary key can have the same primary key value.

In other words, imagine you have a **CUSTOMERS** table that contains a record for each customer visiting a store. The customer’s unique number is a good choice for a **primary key**. The customer’s first and last name **are not good** choices because there is always the chance that more than one customer might have the same name.

#### Foreign Key
A foreign key is a field in a relational table that matches the **primary key column of another table**.

The example above gives a good idea of the primary and foreign keys.

***
***

# Database Management Systems and SQL

The **Database management system (DBMS)** is the software that interacts with end users, applications, and the database itself to capture and analyze data. 

The DBMS used for **relational databases** is called Relational Database Management Systems (RDBMS). 

Most commercial RDBMSes use **Structured Query Language (SQL)**, a declarative language for manipulating data, to access the database. The major RDBMS are 
    - Oracle
    - MySQL
    - Microsoft SQL Server 
    - PostgreSQL
    - Microsoft Access
    - SQLite

Databases are the focus and concern of data engineers, but we need to be familiar how they are set up and (more importantly) how to query from them. 

We will focus on using `Python` to access relational databases using a very easy to use database engine called `SQLite`. It is a relational database management system based on the SQL language but optimized for use in small environments such as mobile phones or small applications. It is self-contained, serverless, zero-configuration and transactional. It is very fast and lightweight, and the entire database is stored in a single disk file. `SQLite` is built for simplicity and speed compared to a hosted client-server relational database such as `MySQL`. It sacrifices sophistication for utility and complexity for size. 

However, queries in `SQLite` are almost identical to other `SQL` calls, so if you know one version of `SQL`, you essentially know them all. 


`SQLite` can be integrated with `Python` using a  module called `sqlite3`.

In [ ]:
import sqlite3

The first thing to keep in mind is that we have to import _driver_ code - that is the API for the specific database that we want to use. The most common are:

- [psycopg2](http://initd.org/psycopg/)
- [MySQL Connector/Python](http://dev.mysql.com/doc/connector-python/en/)
- [sqlite3](https://docs.python.org/2/library/sqlite3.html)

Though a host of other databases for vendors like IBM, Microsoft, and Oracle can be found at [Python Database Interfaces](https://wiki.python.org/moin/DatabaseInterfaces). 

In this tutorial we will be using `sqlite3` because it ships with Python (the other drivers are third party) and because it is so simple to use. SQLite databases are the embedded backbone of many applications, though they should be kept small. 

## Connecting to a Database

The first thing you have to do is make a connection to a database. Often times this means you'll need the following information to connect to a database server:

- hostname
- port 
- username
- password
- database name

SQLite is an _embedded_ database, however - which means it is stored in a file on disk, and operated on soley by a single program (not multiple programs at once). Therefore in order to create a connection to a SQLite database, we simply need to point it to a file on disk.

In [ ]:
DBPATH = 'Data/people.db'
conn = sqlite3.connect(DBPATH)

At this point, you should notice that a file called `people.db` has been created in your `Data/` folder! 

Let's check it out! Let's `cd` into `Data` (don't forget to add the `/` after `Data`) and list out the files. You should see `people.db` listed at the very bottom, and it should be empty.

In [ ]:
%cd Data/
%ls -ltr

Okay, let's go back to our original working directory and double-check that we're not in `Data` anymore.

In [ ]:
%cd ..
%pwd

Okay, now that we've created an (empty) database, let's get to work. 

First, the `connect` method returns a connection object that we've called `conn`. With `conn` you can manipulate your connection to the database including the following methods:

- `conn.commit()` - commit any changes back to the database
- `conn.close()` - close our connection to the database and tidy up

However, to execute SQL against the database to `INSERT` or `SELECT` rows, we'll need to create a cursor:

In [ ]:
cursor = conn.cursor()

A cursor is essentially a pointer into the database. Think of it like a mouse cursor that keeps track of where you are on in the database table or tables. Cursors have the following methods:

- `cursor.execute()` - executes a SQL string against the database
- `cursor.fetchone()` - fetch a single row back from the executed query
- `cursor.fetchall()` - fetch all results back from the executed query. 

Together, connections and cursors are the basic way to interact with a SQL database.

***
***

## Describing the Database

The first thing we have to do is describe the type of data that we'll be putting in the database by creating a _schema_. For this workshop, we'll be creating a very simple contacts application, our schema is as follows:

![Contacts Schema](Images/05_schema.png)

Here we have two tables, `contacts` which keeps track of people, their email, and who they are affiliated with, and `companies` which keeps tracks of organizations. To create the companies table we would execute SQL as follows:

In [ ]:
sql =   '''
        CREATE TABLE IF NOT EXISTS companies (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL)
        '''

In [ ]:
cursor.execute(sql)

A note on the syntax above - since I like to write clean, well-indented `SQL`. 

You can also use a string concatentation method in `Python`, by opening up a parentheses and adding strings _without commas_ on new lines between them. 

If you print `SQL` you'll see it's just one long string with spaces inside of it. You could also use docstrings with the three quotes `"""` to write a multiline string, or even read in the `SQL` from a file.

***
***

# Checkpoint 1 of 9
## Now you try!

### We've just created the `companies` table. Now let's create the `contacts` table in the same manner. To create it, look at the schema in the image above. 
### You'll need an `id`, `name`, `email`, and `company_id` saved in various formats.

***
***

## Inserting Records 

The next thing we'll want to do is insert some records into the database; let's add `Queens College` to the companies table.

Here, we'll create a `SQL` template for inserting the names of companies into the table. Look at the query below>  

We don't have to assign an id, since it will be automatically assigned using the `AUTOINCREMENT` property of that field.

The `?` is a parameter to the query, and can be used as a placeholder for any user input. Values for the parameters are then passed to the second argument of the `execute` method as a tuple.

In [ ]:
sql = "INSERT INTO companies (name) VALUES (?)"

Now, let's execute it!

In [ ]:
cursor.execute(sql, ("Queens College",))

The last thing we need is the `commit` call. 

_Nothing will be written to the database until commit is called_. This gives us an interesting ability to do _transactions_ - a series of `SQL` queries that when completed together succesfully, we commit them. 

However if something goes wrong during execution, we don't commit and therefore "rollback".

In [ ]:
conn.commit()

**As a side note:** You **_SHOULD NOT_** use string formatting methods like: 

```python
sql = "INSERT INTO companies (name) VALUES ({})".format("Queens College")
```

This is potentially unsafe behavior, and the `?` parameters do a lot of work on your behalf to make sure things work correctly and securely.

***
***

# Checkpoint 2 of 9
## Now you try! 

### Let's go ahead and insert another record using the same `SQL` statement. Let's add in the `NYC Department of Education`. 
### First, let's reuse the `SQL` string from before:

                   sql = "INSERT INTO companies (name) VALUES (?)"

### But now add this new organization to the table `companies`.

***
***

# Selecting Records

So, let's take a step back and first learn about the basic anatomy of a `SQL` statement. Let's examine a simple query that selects a column from a sample table. Look at the image below: 

![SQL_Statement](Images/05_anatomy-of-select-statement.png)

The basic `SQL` statement always has two parts: a `SELECT` and a `FROM`. The `SELECT` are the columns from the tables you wish to query and return. The `FROM` is where the columns in the `SELECT` are coming from. 

In example above, we're selecting the `id` and `username` columns from the table called `users`. 

We can use `SELECT *` to select all fields from a table if so desired. 

While not required, we can also use a `WHERE` clause! Think of it like a "subset" of your table, where we pick the rows from the table that meet some criterion. In our example, we're only returning rows from the columns `id` and `username` if the column `enabeled` has the value `true`.

**NOTE:** One ODD feature of `SQL` is that for boolean evaluations, whereas in `Python` and most other languages we could use the double `=` (==) to see if a value is equal to another, `SQL` only uses ONE `=`. 

**ALSO NOTE:** While `Python` is case and indent sensitive, most `SQL` languages aren't. However the clause commands like `SELECT` OR `WHERE` DO NOT need to be capitalized or indented in a particular way for the query to work, but are captialized (and sometimes indented) out of convention. 

Indeed, notice that in the `SQL` statement only ONE `=` is used in the `WHERE` clause. 

***

Let's give it a try! 

Let's try and query the `id` column from the `companies` table. In other words, we're going to `SELECT` `id` coming FROM the table `companies`, and let's only select those rows `WHERE` the company's name is `Queens College`.

In [ ]:
sql_query_Select = '''
            SELECT id
            FROM companies
            WHERE name = "Queens College"
'''

In [ ]:
cursor.execute(sql_query_Select)

Now, let's fetch the results from the query using `cursor.fetchall()` and printing it to the screen. 

Alternatively, you could also use the `fetchone()` statement, which goes and gets the first record it finds. Note that the name of companies are not constrained uniqueness, therefore there could be multiple "Queens College" records fetched from this query. 

If you wanted all of them, you would use `fetchall()`. Since in our table there is only one row with the name "Queens College" we can use either one.

In either case, since "Queens College" was the first entry in the table, it should have an id of 1.

In [ ]:
print(cursor.fetchall())

***
***

# Checkpoint 3 of 9
## Now you try!

### Write your own `SQL` query that returns the ID of the "`NYC Department of Education`" from the previous checkpoint. 
### Run the query and return the results. The ID should be `2`, as it's the second value in the table `companies`.

***
***

***

## Querying Using Tuples

We can also write and execute our queries in a different way, by passing the value in the `WHERE` clause as a parameter into `cursor.execute()`. 

Using the same parameter statement in our predicate clause and passing in the tuple containing "Queens College" as an argument to `execute`, we can select the id that we need, which is returned as a `Row`. 

`Row`s present themselves as tuples, and since we only fetched the ID, it is the first element in the record.

In [ ]:
cursor.execute("SELECT id FROM companies WHERE name=?", ("Queens College",))

In [ ]:
print(cursor.fetchone())

***

## Inserting Multiple Values (Rows)

Now to insert a person (me!) who works for Queens College you would write a statement similar to:

In [ ]:
sql = "INSERT INTO contacts (name, email, company_id) VALUES (?,?,?)" 
cursor.execute(sql, ("Charles J. Gomez", "charles.gomez@qc.cuny.edu", 1)) #ID of 1 b/c it's at QC
conn.commit()

***
***

# Checkpoint 4 of 9
## Now you try!

### Using the same method above, insert some contacts into the `contacts` table and insert some new `companies` into the `companies` table. 

### Note that in the `contacts` table, you need to include a `company_id` for each record. Be sure to keep track of who works where! For instance, a value of `1` is "Queens College" and a value of `2` is the "NYC Department of Education".  So, you'll first need to add company values and then add contacts to keep track of who works where. 

### For instance, if you add a new organization, it'll have a value of `3`, and any `contact` you add who works in `3` will need to have the ID of `3`. Whereas any person you add who works at "Queens College" should have an ID of `1`. 

### Add about two to three records in each table. (Be creative!)

***
***

# Joins with `SQL`

`SQL` handles relationships through the use of `JOIN`s. `JOIN`s are clauses in `SQL` statements that link two tables based on one or more fields. 

With `JOINs`, relational databases can reduce redundancy. A table doesn't have to contain all the fields related to its rows, and table data can be used in multiple places. In other words, when information is stored in separate tables, the way to recombine the information is to do a join. In `SQL`, `JOIN` is a means of combining fields from two tables by using values common to each.


There are several types of JOINs. To describe these different types, we need to add some data to our database so we can show the characteristics of each type. We commonly use Venn diagrams to represent the behavior of `SQL` joins, such as this one:   
![SQL Joins](Images/05_sqljoins.jpg)

Here are some additional resources that you may find helpful as you are learning about and practicing SQL JOINS (and using `sqlite`):


- [Tutorials point on Joins](http://www.tutorialspoint.com/sql/sql-using-joins.htm)
    - [Tutorials point specifically for sqlite](http://www.tutorialspoint.com/sqlite/)    
    
- [W3 schools on Joins](http://www.w3schools.com/sql/sql_join.asp)
    - [W3 schools resources specifically for sqlite](http://www.w3resource.com/sqlite/index.php)    
    
- [A visual explanation of sql joins](http://blog.codinghorror.com/a-visual-explanation-of-sql-joins/)

***
***

Joins are just the `SQL` name for `merges` in `Pandas` (or `R`). There's nothing really too unfamiliar about them. The underlying principles are the same. 

Let's start with a simple `JOIN`. We have two tables: `contacts` and `companies`. They are connected by the key `company_id`. You added a few records in the previous checkpoints. So now let's join these tables together using the `company_id`.

In [ ]:
sql_join = '''
            SELECT companies.name AS company_name,
                    contacts.name AS contact_name,
                    contacts.email
            FROM companies
            JOIN contacts
            ON companies.id = contacts.company_id
'''

Let's see what this code is doing step by step. 

***

```Python 
            SELECT companies.name AS company_name,
                    contacts.name AS contact_name,
```

When we select columns from specific tables, we use the format `TABLE`.`COLUMN_NAME` in the query. So, since we want `name` from `companies` and `name` from `contacts` we use `companies.name` and `contacts.name` in `SELECT` to query these columns. So, our query is merely selecting from the tables `companies` and `contacts` the names of the companies and personnel we've added, respectively. 

**However**, it's generally a best practice for column names to be distinct. Here, `name` is the `companies` table refers to a company name, while `name` in `contacts` is a person's name. This sort of annoying naming convention will pop up a lot in data tables. 

Using `AS`, we can rename the columns of the resulting query. So, I re-label `name` from companies as `company_name` and `name` from `contacts` as `contact_name`. 

***

```Python
            contacts.email
```
I'm also going to select the emails of the contacts from the `contact` table. 
***NOTE*** that I do not include another comma here, as this is the last column we're selecting. 

***

```Python
            FROM companies
```

Next, I define my `FROM` statement. I'm going pull from the table `companies`. 

***

```Python
            JOIN contacts
```

Then, I'm going to `JOIN` `companies` on a new table `contacts`. (Again, this is what `SQL` calls a `merge`.) 

Since this is just a simple `JOIN`, I can swap `companies` and `contacts` in the `FROM` and the `JOIN` clauses, as the order doesn't matter for `JOIN` operations. **THIS IS NOT THE CASE FOR OTHER JOINS, WHERE ORDER MATTERS.**

***
```Python
            ON companies.id = contacts.company_id
```

Finally, I need to define what the name of the keys by which we will join these tables. **NOTE** that the names of the same ID are **_DIFFERENT_** in the two tables, `id` in `companies` and `company_id` in `contacts`. Also **note** that `id` nor `company_id` are in the `SELECT` clause, as you don't need them. `SELECT` _just_ returns what you want!

In [ ]:
cursor.execute(sql_join)

Let's see what we got!

In [ ]:
print(cursor.fetchall())

The output format isn't exactly great for us humans to read. 

So, let's bring in `Pandas` and convert this output into a `DataFrame`.

In [ ]:
import pandas as pd

Lucky for us, `Pandas` has already has this solved for us! 

All we have to do is use the function `pd.read_sql()` and input in our `SQL` code and the connection to the database. 

Here, our `SQL` code in `sql_leftjoin` and our connection is `conn`.

In [ ]:
Contact_Company_Join_df = pd.read_sql(sql_join, conn)

Let's check it out!

In [ ]:
Contact_Company_Join_df.head()

Way better! 

We'll use `Pandas` from now on to query in data. 

**NOTE:** We can't create tables in our `SQL` database with `pd.read_sql()`, as it merely reads in data.

***
***

# Checkpoint 5 of 9
## Now you try! 

### Perform the same query as above, but name `companies.name` and `contacts.name` as something different than  `company_name` or `contact_name`. 
### In addition, add a `WHERE` clause at the end of your join query, and return rows where the contact DOES NOT work at "Queens College". 
### To peform a `NOT` operation, use `!=` operator. In `SQL`, you can also use its `NOT` operator `<>`  as well. 

### Finally, use `Pandas` and read in your query into a `DataFrame` to capture the results. 

### **NOTE:** What `name` (from the table `companies`) do you use in the `WHERE` clause, the full name `companies.name` or your new alias? In `sqlite`, you can use either, but not for all versions of `SQL`.

***
***

***
***

# `SQL` with `Pandas` and Complex Joins with Marvel Superheroes 

Now, let's do something fun! Let's explore the Marvel Superhero Universe using the concept of `SQL` `JOINS` (in particular, we'll be using `sqlite`). 

![Marvel Superheroes](Images/05_marvel.png) (from http://vignette1.wikia.nocookie.net/marveldatabase/images/e/e1/The_Marvel_Universe.png/revision/latest?cb=20110513164401)

There are a **lot** of superheroes in the Marvel Universe, and a **lot** of superhero movies, so we'll just be examining a small portion today. 

As you'll see, we are storing the information about the superheroes separately from the information about the superhero movies. In addition, since superheroes frequently use aliases rather than their real names, it makes sense that we might want to store those real names separately from their superhero personae. 

Ok, let's get started. We've already imported `sqlite`, so we'll need to establish a connection to the database. 

In this case however, we've already built a database for you called "superheroes.db" in your `Data` folder, and it will be your job to implement different kinds of joins in order to answer the questions below.

In [ ]:
DBPATH_MSU = 'Data/superheroes.db'

In [ ]:
conn_MSU = sqlite3.connect(DBPATH_MSU)

Here is what the database looks like:

![SuperheroesDB](Images/05_superheroesDB.png)

Next we'll create a cursor object to help us execute our `SQL` statements:

In [ ]:
cursor_MSU = conn_MSU.cursor()

The `JOIN` statements we write will all follow roughly the same pattern that our `SELECT` statements followed in this morning's workshop. That is to say they will look something like:

```python
cursor.execute("SELECT [information] FROM [first_table] [SOME JOIN] [second_table] ON firsttable.id = secondtable.id")
print(cursor.fetchall())
```

***
***

## Who's the star of the movie?

How can we query our database to determine who is the star of the movie? 

In this case, let's use `LEFT JOIN` to pair the title of each movie with the name of its main character.

Look at the query below. Here I'm going to use the `*` symbol in the `SELECT` statement to return ALL of the columns in both tables. 

However, when I want to select specific columns from specific tables, I again use the format `TABLE`.`COLUMN_NAME` in the `ON` clause in the query. 

Here, I'm selecting all columns from `Movies` and `Superheroes` using the `*`, and then I'm joining these two tables on their joint `key` column, in this case `superhero_id`. I'm doing this with the `ON` clause.

In [ ]:
sql_leftjoin = '''
            Select * 
                FROM Movies
            LEFT JOIN RealNames
            ON Movies.superhero_id = RealNames.superhero_id
        '''

In [ ]:
cursor_MSU.execute(sql_leftjoin)

In [ ]:
print(cursor_MSU.fetchall())

***
***

The format isn't exactly great for us humans. 

So, let's bring in `Pandas` and convert this output into a `DataFrame`.

In [ ]:
import pandas as pd

Lucky for us, `Pandas` has already has this solved for us! 

All we have to do is use the function `pd.read_sql()` and input in our `SQL` code and the connection to the database. 

Here, our `SQL` code in `sql_leftjoin` and our connection is `conn`.

In [ ]:
Marvel_df = pd.read_sql(sql_leftjoin, conn_MSU)

Let's check it out!

In [ ]:
Marvel_df.head()

Cool, it worked! Notice that while both `superhero_id` columns from both tables are fully aligned because the `JOIN`, we now have two columns! This is both redundant (and a waste of hard drive space) and may be confusing for future joins with this new table. 

Futhermore, `id` is a row id of their respective tables that doesn't provide any useful information. 

How do we clean this up a bit?

***
***

# Checkpoint 6 of 9
## Now you try!

### Repeat the same `LEFT JOIN` merge as before, but now select specific columns from each table:
    - title and superhero_id from the table Movies
    - name from the table RealNames
### Write the query in `SQL` and read it in with `Pandas`. 

### *Hint:* You don't need to have the column in the `SELECT` statement in order for you to do a join!

***
***

## Note on Right Joins and Full Outer Joins

In `sqlite` you cannot perform them. Again, we're using `sqlite` as a pedagogical tool. The various `SQL` platforms you'll use will be very similar to `sqlite` and your queries will allow you to use both sorts of `JOINs`. Since we're restricted by CPU and memory-usage, we cannot use them here. 

***
***

***
***

# Nested Joins

We can also run nested joins, or joins within joins. So, instead of running two joins at once, we can run and construct our output all in one large query. 

Let's look at our original query. 

```Python
            Select * 
                FROM Movies
            LEFT JOIN RealNames
            ON Movies.superhero_id = RealNames.superhero_id
```

This essentially produces a table. If so, we can query from it! If so, then we can treat this query as a table and perform other query operations on it! In the query above, we `LEFT JOINed` `Movies` with `RealNames`. 

Say we now want to know their superhero names. We can nest this query and treat it as a table in a NEW query and join it with the superhero names. 

**NOTE:** The superhero id in the table `Superheroes` is just `id` and not `superhero_id` as it is in the other tables. 

```Python
        Select *
            From Superheroes
        JOIN (
              Select * 
                FROM Movies
              LEFT JOIN RealNames
              ON Movies.superhero_id = RealNames.superhero_id
              ) AS Movies_RealNames
        ON Movies_RealNames.superhero_id = Superheores.id
```        

This nested query looks scary at first, but look at what it just really is:

```Python
        Select *
            From Superheroes
        JOIN Movies_RealNames
        ON Movies_RealNames.superhero_id = Superheores.id
``` 

It's just a regular join with a new table we made! We just need to use `AS` to rename the table. Here, I called our nested query table `Movies_RealNames` as it's the merge between the tables `Movie` and `RealNames`. 

Let's read it in and check it out!

In [ ]:
sql_nested = '''
        Select *
            From Superheroes
        JOIN (
              Select * 
                FROM Movies
              LEFT JOIN RealNames
              ON Movies.superhero_id = RealNames.superhero_id
              ) AS Movies_RealNames
        ON Movies_RealNames.superhero_id = Superheroes.id
'''

In [ ]:
Marvel_Nested_df = pd.read_sql(sql_nested, conn_MSU)

In [ ]:
Marvel_Nested_df.head()

***
***

# Checkpoint 7 of 9
## Now you try!

### Create a run your own nested query! Don't merely copy-and-paste the one we went through here. Create your own (i.e., change the order of the joins). 

### Use the three tables from the Marvel Superhero Universe database. 

### Again, use `Pandas` to read in and store the query as a `DataFrame`.

***
***

# Multiprocessing in Python

You'll likely want to speed up your code at some in your career. Thankfully multiprocessing is here to help. 

CPUs with multiple cores have become the standard in the recent development of modern computer architectures and we can not only find them in supercomputer facilities but also in our desktop machines at home, and our laptops!

However, the default `Python` interpreter was designed with simplicity in mind and has a thread-safe mechanism: the “GIL” (Global Interpreter Lock). In order to prevent conflicts between threads, it executes only one statement at a time. This is called "serial processing," or "single-threading."

To get around, we'll use the `multiprocessing` module and we will see how we can spawn multiple subprocesses to avoid some of the GIL’s disadvantages.

The image below distinguishes between serial processing, what we've been doing up to this point, and parallel processing. 
    - Serial memory processing is the act of attending to and processing one item at a time. 
    - Parallel memory processing, by constract, is the act of attending to and processing all items simultaneously.

![serial vs multiprocessing](Images/05_multiprocessing_scheme.png)


***
***

Another way of visualizing this is shown below for both serial and multiprocessing. 
Serial processing with the GIL is shown here: 

![serial vs multiprocessing](Images/05_serial_processing.jpeg)

***
***

Multiprocessing that subverts the GIL is shown here: 

![serial vs multiprocessing](Images/05_multi_processing.jpeg)

***
***

# Multi-Threading vs. Multi-Processing

Depending on the application, two common approaches in parallel programming are either to run code via _threads_ or _multiple processes_. 

## On Threads (Shared Memory)

If we submit “jobs” to different threads, those jobs can be pictured as “sub-tasks” of a single process. However, those threads will usually have access to the same memory areas (i.e., shared memory). As such, this approach can easily lead to conflicts where there is if processes are writing to the same memory location at the same time. (Like outputting to a CSV, for instance.)

## Multiple Processes (Distributed Memory)

A safer approach (although it comes with an additional overhead due to the communication overhead between separate processes) is to submit _multiple processes_ to completely separate memory locations (i.e., distributed memory): **Every process will run completely independent from each other.**

Here, we will take a look at `Python`’s multiprocessing module and how we can use it to submit multiple processes that can run independently from each other in order to make best use of our CPU cores.

***
***

# The `multiprocessing` module
The multiprocessing module in Python’s Standard Library has a lot of powerful features. If you want to read about all the nitty-gritty tips, tricks, and details, I would recommend to use the official documentation as an entry point.

Let's go through a brief overview of different approaches to show how the multiprocessing module can be used for parallel programming.

## The `Process` class and the `Pool` class
The `multiprocessing Python` module contains two classes capable of handling tasks. 

The `Process` class sends each task to a different processor, and the `Pool` class sends sets of tasks to different processors.

While both classes provide a similar speed increase, the `Process` class is more efficient when there are not many processes to execute. Using Pythonanywhere we normally only have 4 CPUs, so this is our case. 

**Key Take-away:**
`Pool` is most useful for **LARGE** number of processes and where each process can execute quickly.
`Process` is most useful for a **SMALL** number of processes where each process takes a longer time to execute.

***
***

## The `Pool` class
The convenient approach for simple parallel processing tasks is provided by the `Pool` class.

There are four methods that are particularly interesting:
    - Pool.apply
    - Pool.map
    - Pool.apply_async
    - Pool.map_async

The `Pool.apply` and `Pool.map` methods are basically equivalents to `Python`’s in-built `apply` and `map` functions.

In [ ]:
from multiprocessing import Pool
import multiprocessing

First, we need to create some sort of function. This is called a "worker." It's a function which will be executed in parallel. 

Here, let's define a worker (i.e., function) called `worker` that takes in one parameter. Let's make it simple and let's say it takes in some number and returns its square. 

**Note:** You don't need to call your function `worker`, you can call it whatever you'd like.

In [ ]:
def worker(x):
    return x*x

Now, how many processors are we going to use? We can first find out how many processors are available to us using the function `cpu_count()`.

In [ ]:
multiprocessing.cpu_count()

Note that with `pythonanywhere.com`, you can increase the alloted number of CPUs. It should default for most of us to 4, however you can increase this to even more, if you want! You'll just need to pay a bit more per month. 

Okay, so let's set the number of processors to be the maximum number possible, or 1 minus `cpu_count()`. 

Why minus 1? If **EVERY CPU** were allocated to your process, there's nothing else left for your computer to run its most basic functions (i.e., the OS, etc.). 

**NEVER SET THE NUMBER OF PROCESSORS TO THE NUMBER OF CORES AVAILABLE. At most, it MUST be 1 less.**

In [ ]:
num_processors = multiprocessing.cpu_count() - 1

Next, let's create a pool of processors.

In [ ]:
p=Pool(processes = num_processors)

Okay, now let's get them to work in parallel! For each worker, it will work on the function with one particular parameter. 

Let's create a list of parameters that we'll pass. Since our function squares the value, let's square the values for the numbers 0, 1, 2, 3, and 4.

In [ ]:
parameters = [0,1,2,3,4]

Now, let's use the method `.map()` to map these parameters to our workers. 

Note that we have five parameters (0 through 4) and only three workers. That's okay! Workers will each be assigned one parameter to work on, and then when they're done and available, get the next value. In this way, it's a bit like enhanced serial processing.

In [ ]:
output = p.map(worker,parameters)

Finally, let's close out the pool using the method `.close()`.

In [ ]:
p.close()

Let's see the output. It should return a list of values, each of which are the respective squares of the inputs.

In [ ]:
output

One **BIG** caveat about using parallel processing in any form of interactive Python (Jupyter Notebooks or terminal-based iPython) is that it might not always work as we've written it here. 

The reasons are a bit complicated. However, if you're expecting to write more complicated you'll need to add a 

```python 
    if __name == '__main__'
``` 

clause before calling your workers. 

The example below should work just as it did above.

In [ ]:
if __name__ ==  '__main__': 
    num_processors = multiprocessing.cpu_count() - 1
    p=Pool(processes = num_processors)
    output = p.map(worker,parameters)
    p.close()
    print(output)

***
***

# Checkpoint 8 of 9
## Now you try!

### Write-up your own simple function (maybe it takes a number a raises it to some n-power or does something else rather basic) and use multiprocessing to print out some output, just as you did here. 
### Input a short list of a few test numbers. 

### **BONUS**--What would you need to do to pass in more than one set of parameters? For example, what if you wrote a function that took in both a number and the n-th power you wanted to raise that number to as parameters? **Hint:** Consider using a list of `tuples`.

***
***

***
***

We can define our multiprocessing code as a function itself! In other words, we can pass in the parameters into a function that are then passed in to the `map()` method.

Let's try it out. I'm taking the code we just wrote and putting it into its own function. **Note** that I changed `parameters` to `my_parameters` to avoid confusing a local versus a global parameter.

In [ ]:
def multiprocessing_function(my_parameters):
    if __name__ ==  '__main__': 
        num_processors = multiprocessing.cpu_count() - 1
        p=Pool(processes = num_processors)
        output = p.map(worker,my_parameters)
        p.close()
        return(output)

Now I'm going to pass in `parameters` into our new function `multiprocessing_function` and return our original `output`. You'll see we get the same result.

In [ ]:
multiprocessing_function(parameters)

***

### Performance?

So, how long does this actually take?

Let's try it with a 1000 numbers, instead of just five. Now, let's use the `time` module to track how long it takes with different number of processes. So far, we've used 1 minus the total number of processors. 

On my machine, that's 3. 

So, let's see how long it takes with 1, 2, and 3 dedicated processors. 

First, let's create a list of new parameters that goes from 0 to 999.

In [ ]:
new_parameters = [i for i in range(0,1000)]

Now, let's run our code in a `for loop`, where we pass in different numbers of available processors the pool can use. Here we're only going to use 1, 2, or 3 CPUs. 

For each time we use a different number of CPUs, we're going to output how long it takes in seconds.

In [ ]:
import time 
for num_worker_processors in [1,2,3]:
    if __name__ ==  '__main__': 
        start_time = time.process_time()
        p=Pool(processes = num_worker_processors)
        output = p.map(worker,new_parameters)
        end_time = time.process_time() - start_time
        print(num_worker_processors,end_time)

So, with only one processor, it takes about 0.01 seconds, but with two processors, it takes longer, 0.02, and even longer with three, or about 0.03. 

Why is this the case? Recall the discussion earlier about `pool` and `process`. 

***
***

# The `Process` Class

Let's now turn our attention to the `process class`. Let's import it from `multiprocessing`.

In [ ]:
from multiprocessing import Process

Let's first create two new functions that are a bit more complex: `basic_function()` and `some_complex_func()`.

With `some_complex_func()`, we square the number that was passed in and print out if it's even or odd by calling `basic_func()`.

In [ ]:
def basic_func(x):
    if x == 0:
        return 'zero'
    elif x%2 == 0:
        return 'even'
    else:
        return 'odd'

In [ ]:
def some_complex_func(x):
    y = x*x
    time.sleep(2)
    print('{} squared results in a/an {} number'.format(x, basic_func(y)))

Now, let's use the `Process` class.

We've already import `Process` and created a complicated function called `some_complex_func()`. I

```python
    processes_list = []
    for i in range(0,10):
        p = Process(target=some_complex_func, args=(i,))
        processes_list.append(p)
        p.start()
```

In the first `for loop`, shown above, we create a series of `Processes`. We pass in the `target`, or our function called `some_complex_func()`. We also pass in the arguments given as a `tuple`. These are the numbers we're going to square and return if it's even or odd. We're just going to go through numbers 0 through 9. 

Then, we append them together in a list called `processes_list`, which we define before the `for loop`. 

Finally, we start them using the method `.start()`. 

```python
    for process in processes_list:
        process.join()
```

Now, we can join them together! The last loop just calls the `.join()` method on each process in the list `process_list`. This tells `Python` to wait for the process to terminate.

In [ ]:
if __name__ == '__main__':
    starttime = time.time()
    processes_list = []
    for i in range(0,10):
        p = Process(target=some_complex_func, args=(i,))
        processes_list.append(p)
        p.start()
        
    for process in processes_list:
        process.join()
        
    print('That took {} seconds'.format(time.time() - starttime))

All of this looks fine! 

And it only took 2 seconds! So, let's try this now with `Pool`. Below, I use the same code we went through before, but now use our new function `some_complex_func()`. Let's see how long it takes.

In [ ]:
if __name__ == '__main__':
    
    starttime = time.time()
    pool = Pool(processes = num_worker_processors)
    pool.map(some_complex_func, range(0,10))
    pool.close()
    print('That took {} seconds'.format(time.time() - starttime))

Unless you are running a machine with more than 10 processors, the `Process` code should run faster than the Pool code. 

We can see that's the case here: 2 seconds (`Process`) versus 8 seconds (`Pool`)

This is because `Process` sends code to a processor as soon as the process is started. 

`Pool` instead sends a code to each available processor and doesn’t send any more until a processor has finished computing the first section of code. 

`Pool` does this so that processes don’t have to compete for computing resources, but this makes it slower than `Process` in cases where each process is lengthy.

***
***

# Working with Data

Let's use `multiprocessing` to work with data. You can do a lot of things when you parallelize things! However, for our purposes, let's get you set up with a simple example. Reading in lots of data. 

Since `Pool` is better for more computational heavy tasks, we'll focus on using `Pool` rather than `Process`.

***

First, let's perform a simple task. 

Let's read in a bunch of files and combine them together into one large `DataFrame`. For simplicity, let's focus on `DataFrames` that have the same format, but are split up into different CSVs. 

So the function we'll use is `Pandas`'s `read_csv` and we're going to pass in as our parameter a list of the file names with their path directories. 

To begin, let's get the list of file names and their directories to read in. How about we read in every file in your `/Data/` directory in `/Class_Materials/` that starts with the filename `gapminder_gdp_`. Specifically, there should be five CSV files total.

Let's use the module `glob` to find these filenames based on a partial `string` match.

In [ ]:
import glob

Next make sure you're in `Class_Materials`. If you're not, add a cell (of code) here and `cd` into it. Check your present working directory with `%pwd`.

In [ ]:
%pwd

Using `glob.glob()`, we're going to go into our `Data/` folder and find the filenames and paths of all files that start with `gapminder_gdp`, where the `*` is a catch-all for anything that comes after the string. We'll learn more about it in a few lessons!

In [ ]:
file_list = glob.glob('Data/gapminder_gdp*')

Let's take a look at the contents of the list. 

We should see five CSV files all beginning with `gapminder_gdp`.

In [ ]:
file_list

Just like before, we need to put all of our desired operations into a function we'll pass in!

I'm going to create a function called `my_read_csv()`, which just uses `Pandas`'s `read_csv()` function. Even if your function does only one task, it needs to be defined in a function in order for it to be mapped.

In [ ]:
def my_read_csv(filename):
    return pd.read_csv(filename)

Now, let's have our `pool` map the file names to `DataFrames` using our new function `my_read_csv()`. 

Let's first set up our `pool` just as we did before and use the `.map()` method from `pool`. 

The only difference is this line of code:

```Python
        df_list = pool.map(my_read_csv, file_list)
```

This maps our function `my_read_csv` to the passed in parameters `file_list`, which contains the file names of each file we're reading in. 

(Don't forget to close your `pool`.)

In [ ]:
if __name__ == '__main__':    
    num_processors = multiprocessing.cpu_count() - 1
    pool = Pool(processes = num_processors)
    df_list = pool.map(my_read_csv, file_list)
    pool.close()

Let's see what you did! Run the cell below. 

It's really long! Essentially, it's a `list` of `DataFrames`. Since we read in five `DataFrames` the `list` has five entries, one for each CSV. 

Let's check this out and verify.

In [ ]:
df_list

In [ ]:
len(df_list) #Should be five

We can combine these `DataFrames` together into one large `DataFrame` using `pd.concat()`. 

Let's see what this results with.

In [ ]:
df_final = pd.concat(df_list)

If we take a peak at our new `DataFrame`, we'll see that we created one large `DataFrame`.

In [ ]:
df_final.head()

Awesome!

While this simple example, you now have the tools to write up and perform way more complicated functions and tasks, and apply them to your data in parallel.

***
***

# Checkpoint 9 of 9
## Now you try!

### Now, let's re-read in the same set of data, but instead of just merely reading in these files, let's add one more step. Think back to your `Pandas` training and come up with one extra step to add to our `my_read_csv()` function. It can be as simple as just returning the first 10 rows of each `DataFrame` or you can subset the `DataFrame` such that it only returns rows from a specific `Country`, one of the columns in the `DataFrame`. 

### Create a new function (call it whatever you want) that still reads in a CSV, but also performs one additional task. 

### Use `Pool` to map your function to your workers and then use `pd.concat()` to combine the results into one large `DataFrame`.

***
***